<?xml version="1.0"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <accounts>
    <bankAccounts>
      <bankAccount name="Betaalrekening" />
    </bankAccounts>
    <cashAccounts>
      <cashAccount name="Kas" />
    </cashAccounts>
    <creditCardAccounts>
      <creditCardAccount name="Creditcard" />
    </creditCardAccounts>
    <customerAccounts>
      <customerAccount name="Klanten" />
    </customerAccounts>
    <depreciationExpenseAccounts>
      <depreciationExpenseAccount name="Afschrijvingen" />
    </depreciationExpenseAccounts>
    <equityAccounts>
      <equityAccount name="Eigen vermogen" />
    </equityAccounts>
    <expenseAccounts>
      <expenseAccount name="Accountants- en administratiekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Advertenties" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Autokosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Automatiseringskosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Bankkosten" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Beurskosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Brandstof" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Contributies en abonnementen" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Eten &amp; Drinken (op kantoor)" defaultVatRate="Laag 9% (te vorderen)" percentageDeductible="80" />
      <expenseAccount name="Gas, water en licht" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Huur bedrijfspand" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Kantoorbenodigdheden" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Kilometervergoeding (€ 0,19 km)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Motorrijtuigenbelasting" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Niet aftrekbare kosten (boetes)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Reclamekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Reis- en verblijfkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Relatiegeschenken" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Rentekosten (betaalde debetrente)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Sponsorkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Studiekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Telefoon, fax en internet" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Vakliteratuur" defaultVatRate="Laag 9% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Verzekeringen" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Verzendkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Zakenlunch of -diner (in horeca)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="80" />
    </expenseAccounts>
    <incomeAccounts>
      <incomeAccount name="Omzet" defaultVatRate="Hoog 21% (af te dragen)" />
      <incomeAccount name="Rentebaten (ontvangen creditrente)" defaultVatRate="Hoog 21% (af te dragen)" />
    </incomeAccounts>
    <inputVatAccounts>
      <inputVatAccount name="BTW Voorbelasting" />
      <inputVatAccount name="BTW KOR" />
    </inputVatAccounts>
    <outputVatAccounts>
      <outputVatAccount name="BTW Installatie/afstandsverkopen binnen de EU" />
      <outputVatAccount name="BTW Leveringen naar landen buiten de EU (uitvoer)" />
      <outputVatAccount name="BTW Leveringen naar/diensten in landen binnen de EU" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 0% of niet bij u belast" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 21%" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 9%" />
      <outputVatAccount name="BTW Leveringen/diensten belast met overige tarieven behalve 0%" />
      <outputVatAccount name="BTW Leveringen/diensten uit landen binnen de EU" />
      <outputVatAccount name="BTW Leveringen/diensten uit landen buiten de EU" />
      <outputVatAccount name="BTW Leveringen/diensten waarbij de heffing van omzetbelasting naar u is verlegd" />
      <outputVatAccount name="BTW Privé-gebruik" />
    </outputVatAccounts>
    <privateAccounts>
      <privateAccount name="Privé" />
    </privateAccounts>
    <roundingDifferencesAccounts>
      <roundingDifferencesAccount name="Afrondingsverschillen" />
    </roundingDifferencesAccounts>
    <supplierAccounts>
      <supplierAccount name="Leveranciers" />
    </supplierAccounts>
    <vatPaymentAccounts>
      <vatPaymentAccount name="BTW Afdrachten" />
    </vatPaymentAccounts>
    <vatToPayAccounts>
      <vatToPayAccount name="BTW Te betalen" />
    </vatToPayAccounts>
  </accounts>
  <countries default="NL">
    <country code="AF" name="Afghanistan" />
    <country code="AX" name="Alandeilanden" />
    <country code="AL" name="Albanië" />
    <country code="DZ" name="Algerije" />
    <country code="AS" name="Amerikaans Samoa" />
    <country code="VI" name="Amerikaanse Maagdeneilanden" />
    <country code="UM" name="Amerikaanse kleinere afgelegen eilanden" />
    <country code="AD" name="Andorra" />
    <country code="AO" name="Angola" />
    <country code="AI" name="Anguilla" />
    <country code="AQ" name="Antarctica" />
    <country code="AG" name="Antigua en Barbuda" />
    <country code="AR" name="Argentinië" />
    <country code="AM" name="Armenië" />
    <country code="AW" name="Aruba" />
    <country code="AU" name="Australië" />
    <country code="AZ" name="Azerbeidzjan" />
    <country code="BS" name="Bahama’s" />
    <country code="BH" name="Bahrein" />
    <country code="BD" name="Bangladesh" />
    <country code="BB" name="Barbados" />
    <country code="BE" name="België" />
    <country code="BZ" name="Belize" />
    <country code="BJ" name="Benin" />
    <country code="BM" name="Bermuda" />
    <country code="BT" name="Bhutan" />
    <country code="BO" name="Bolivia" />
    <country code="BA" name="Bosnië en Herzegovina" />
    <country code="BW" name="Botswana" />
    <country code="BV" name="Bouveteiland" />
    <country code="BR" name="Brazilië" />
    <country code="BQ" name="British Antarctic Territory" />
    <country code="IO" name="Britse Gebieden in de Indische Oceaan" />
    <country code="VG" name="Britse Maagdeneilanden" />
    <country code="BN" name="Brunei" />
    <country code="BG" name="Bulgarije" />
    <country code="BF" name="Burkina Faso" />
    <country code="BI" name="Burundi" />
    <country code="KH" name="Cambodja" />
    <country code="CA" name="Canada" />
    <country code="KY" name="Caymaneilanden" />
    <country code="CF" name="Centraal-Afrikaanse Republiek" />
    <country code="CL" name="Chili" />
    <country code="CN" name="China" />
    <country code="CX" name="Christmaseiland" />
    <country code="CC" name="Cocoseilanden" />
    <country code="CO" name="Colombia" />
    <country code="KM" name="Comoren" />
    <country code="CG" name="Congo" />
    <country code="CD" name="Congo-Kinshasa" />
    <country code="CK" name="Cookeilanden" />
    <country code="CR" name="Costa Rica" />
    <country code="CU" name="Cuba" />
    <country code="CW" name="Curacao" />
    <country code="CY" name="Cyprus" />
    <country code="DK" name="Denemarken" />
    <country code="DJ" name="Djibouti" />
    <country code="DM" name="Dominica" />
    <country code="DO" name="Dominicaanse Republiek" />
    <country code="DE" name="Duitsland" />
    <country code="EC" name="Ecuador" />
    <country code="EG" name="Egypte" />
    <country code="SV" name="El Salvador" />
    <country code="GQ" name="Equatoriaal-Guinea" />
    <country code="ER" name="Eritrea" />
    <country code="EE" name="Estland" />
    <country code="ET" name="Ethiopië" />
    <country code="FO" name="Faeröer" />
    <country code="FK" name="Falklandeilanden" />
    <country code="FJ" name="Fiji" />
    <country code="PH" name="Filipijnen" />
    <country code="FI" name="Finland" />
    <country code="FR" name="Frankrijk" />
    <country code="GF" name="Frans-Guyana" />
    <country code="PF" name="Frans-Polynesië" />
    <country code="TF" name="Franse Gebieden in de zuidelijke Indische Oceaan" />
    <country code="GA" name="Gabon" />
    <country code="GM" name="Gambia" />
    <country code="GE" name="Georgië" />
    <country code="GH" name="Ghana" />
    <country code="GI" name="Gibraltar" />
    <country code="GD" name="Grenada" />
    <country code="GR" name="Griekenland" />
    <country code="GL" name="Groenland" />
    <country code="GP" name="Guadeloupe" />
    <country code="GU" name="Guam" />
    <country code="GT" name="Guatemala" />
    <country code="GG" name="Guernsey" />
    <country code="GN" name="Guinee" />
    <country code="GW" name="Guinee-Bissau" />
    <country code="GY" name="Guyana" />
    <country code="HT" name="Haïti" />
    <country code="HM" name="Heard- en McDonaldeilanden" />
    <country code="HN" name="Honduras" />
    <country code="HU" name="Hongarije" />
    <country code="HK" name="Hongkong SAR van China" />
    <country code="IS" name="IJsland" />
    <country code="IE" name="Ierland" />
    <country code="IN" name="India" />
    <country code="ID" name="Indonesië" />
    <country code="IQ" name="Irak" />
    <country code="IR" name="Iran" />
    <country code="IM" name="Isle of Man" />
    <country code="IL" name="Israël" />
    <country code="IT" name="Italië" />
    <country code="CI" name="Ivoorkust" />
    <country code="JM" name="Jamaica" />
    <country code="JP" name="Japan" />
    <country code="YE" name="Jemen" />
    <country code="JE" name="Jersey" />
    <country code="JO" name="Jordanië" />
    <country code="CV" name="Kaapverdië" />
    <country code="CM" name="Kameroen" />
    <country code="KZ" name="Kazachstan" />
    <country code="KE" name="Kenia" />
    <country code="KG" name="Kirgizië" />
    <country code="KI" name="Kiribati" />
    <country code="KW" name="Koeweit" />
    <country code="HR" name="Kroatië" />
    <country code="LA" name="Laos" />
    <country code="LS" name="Lesotho" />
    <country code="LV" name="Letland" />
    <country code="LB" name="Libanon" />
    <country code="LR" name="Liberia" />
    <country code="LY" name="Libië" />
    <country code="LI" name="Liechtenstein" />
    <country code="LT" name="Litouwen" />
    <country code="LU" name="Luxemburg" />
    <country code="MO" name="Macao SAR van China" />
    <country code="MK" name="Macedonië" />
    <country code="MG" name="Madagaskar" />
    <country code="MW" name="Malawi" />
    <country code="MV" name="Maldiven" />
    <country code="MY" name="Maleisië" />
    <country code="ML" name="Mali" />
    <country code="MT" name="Malta" />
    <country code="MA" name="Marokko" />
    <country code="MH" name="Marshalleilanden" />
    <country code="MQ" name="Martinique" />
    <country code="MR" name="Mauritanië" />
    <country code="MU" name="Mauritius" />
    <country code="YT" name="Mayotte" />
    <country code="MX" name="Mexico" />
    <country code="FM" name="Micronesië" />
    <country code="MD" name="Moldavië" />
    <country code="MC" name="Monaco" />
    <country code="MN" name="Mongolië" />
    <country code="ME" name="Montenegro" />
    <country code="MS" name="Montserrat" />
    <country code="MZ" name="Mozambique" />
    <country code="MM" name="Myanmar" />
    <country code="NA" name="Namibië" />
    <country code="NR" name="Nauru" />
    <country code="NL" name="Nederland" />
    <country code="NP" name="Nepal" />
    <country code="NI" name="Nicaragua" />
    <country code="NC" name="Nieuw-Caledonië" />
    <country code="NZ" name="Nieuw-Zeeland" />
    <country code="NE" name="Niger" />
    <country code="NG" name="Nigeria" />
    <country code="NU" name="Niue" />
    <country code="KP" name="Noord-Korea" />
    <country code="MP" name="Noordelijke Marianeneilanden" />
    <country code="NO" name="Noorwegen" />
    <country code="NF" name="Norfolkeiland" />
    <country code="UG" name="Oeganda" />
    <country code="UA" name="Oekraïne" />
    <country code="UZ" name="Oezbekistan" />
    <country code="OM" name="Oman" />
    <country code="TL" name="Oost-Timor" />
    <country code="AT" name="Oostenrijk" />
    <country code="PK" name="Pakistan" />
    <country code="PW" name="Palau" />
    <country code="PS" name="Palestijns Gebied" />
    <country code="PA" name="Panama" />
    <country code="PG" name="Papoea-Nieuw-Guinea" />
    <country code="PY" name="Paraguay" />
    <country code="PE" name="Peru" />
    <country code="PN" name="Pitcairn" />
    <country code="PL" name="Polen" />
    <country code="PT" name="Portugal" />
    <country code="PR" name="Puerto Rico" />
    <country code="QA" name="Qatar" />
    <country code="RO" name="Roemenië" />
    <country code="RU" name="Rusland" />
    <country code="RW" name="Rwanda" />
    <country code="RE" name="Réunion" />
    <country code="BL" name="Saint Barthélemy" />
    <country code="KN" name="Saint Kitts en Nevis" />
    <country code="LC" name="Saint Lucia" />
    <country code="PM" name="Saint Pierre en Miquelon" />
    <country code="VC" name="Saint Vincent en de Grenadines" />
    <country code="SB" name="Salomonseilanden" />
    <country code="WS" name="Samoa" />
    <country code="SM" name="San Marino" />
    <country code="ST" name="Sao Tomé en Principe" />
    <country code="SA" name="Saoedi-Arabië" />
    <country code="SN" name="Senegal" />
    <country code="RS" name="Servië" />
    <country code="SC" name="Seychellen" />
    <country code="SL" name="Sierra Leone" />
    <country code="SG" name="Singapore" />
    <country code="SX" name="Sint Maarten" />
    <country code="SH" name="Sint-Helena" />
    <country code="MF" name="Sint-Maarten" />
    <country code="SI" name="Slovenië" />
    <country code="SK" name="Slowakije" />
    <country code="SD" name="Soedan" />
    <country code="SO" name="Somalië" />
    <country code="ES" name="Spanje" />
    <country code="LK" name="Sri Lanka" />
    <country code="SR" name="Suriname" />
    <country code="SJ" name="Svalbard en Jan Mayen" />
    <country code="SZ" name="Swaziland" />
    <country code="SY" name="Syrië" />
    <country code="TJ" name="Tadzjikistan" />
    <country code="TW" name="Taiwan" />
    <country code="TZ" name="Tanzania" />
    <country code="TH" name="Thailand" />
    <country code="TG" name="Togo" />
    <country code="TK" name="Tokelau" />
    <country code="TO" name="Tonga" />
    <country code="TT" name="Trinidad en Tobago" />
    <country code="TD" name="Tsjaad" />
    <country code="CZ" name="Tsjechië" />
    <country code="TN" name="Tunesië" />
    <country code="TR" name="Turkije" />
    <country code="TM" name="Turkmenistan" />
    <country code="TC" name="Turks- en Caicoseilanden" />
    <country code="TV" name="Tuvalu" />
    <country code="UY" name="Uruguay" />
    <country code="VU" name="Vanuatu" />
    <country code="VA" name="Vaticaanstad" />
    <country code="VE" name="Venezuela" />
    <country code="GB" name="Verenigd Koninkrijk" />
    <country code="AE" name="Verenigde Arabische Emiraten" />
    <country code="US" name="Verenigde Staten" />
    <country code="VN" name="Vietnam" />
    <country code="WF" name="Wallis en Futuna" />
    <country code="EH" name="Westelijke Sahara" />
    <country code="BY" name="Wit-Rusland" />
    <country code="ZM" name="Zambia" />
    <country code="ZW" name="Zimbabwe" />
    <country code="ZA" name="Zuid-Afrika" />
    <country code="GS" name="Zuid-Georgië en Zuidelijke Sandwicheilanden" />
    <country code="KR" name="Zuid-Korea" />
    <country code="SS" name="Zuid-Soedan" />
    <country code="SE" name="Zweden" />
    <country code="CH" name="Zwitserland" />
  </countries>
  <paymentTerms>
    <paymentTerm name="Geen" term="0" />
    <paymentTerm name="7 dagen" term="7" />
    <paymentTerm name="14 dagen" term="14" />
    <paymentTerm name="30 dagen" term="30" />
  </paymentTerms>
  <vatRates>
    <vatRate name="Geen / Vrijgesteld" rate="0" />
    <vatRate name="Privé-gebruik" payableAccount="BTW Privé-gebruik" rate="0" />
    <vatRate name="Hoog 21% (af te dragen)" payableAccount="BTW Leveringen/diensten belast met 21%" rate="21" />
    <vatRate name="Hoog 21% (te vorderen)" rate="21" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Laag 9% (af te dragen)" payableAccount="BTW Leveringen/diensten belast met 9%" rate="9" />
    <vatRate name="Laag 9% (te vorderen)" rate="9" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Leveringen naar of diensten in landen binnen de EU" payableAccount="BTW Leveringen naar/diensten in landen binnen de EU" rate="0" />
    <vatRate name="Verwerving binnen de EU (21%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" rate="21" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Verwerving binnen de EU (9%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" rate="9" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Verwerving binnen de EU (0%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" rate="0" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Levering naar landen buiten de EU (uitvoer)" payableAccount="BTW Leveringen naar landen buiten de EU (uitvoer)" rate="0" />
    <vatRate name="Verwerving buiten de EU (21%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" rate="21" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Verwerving buiten de EU (9%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" rate="9" receivableAccount="BTW Voorbelasting" />
    <vatRate name="Verwerving buiten de EU (0%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" rate="0" receivableAccount="BTW Voorbelasting" />
    <vatRate name="BTW KOR" rate="0" receivableAccount="BTW KOR" />
  </vatRates>
</configuration>