<?xml version="1.0"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <accounts>
    <bankAccounts>
      <bankAccount name="Betaalrekening" />
    </bankAccounts>
    <cashAccounts>
      <cashAccount name="Kas" />
    </cashAccounts>
    <creditCardAccounts>
      <creditCardAccount name="Creditcard" />
    </creditCardAccounts>
    <customerAccounts>
      <customerAccount name="Klanten" />
    </customerAccounts>
    <depreciationExpenseAccounts>
      <depreciationExpenseAccount name="Afschrijvingen" />
    </depreciationExpenseAccounts>
    <equityAccounts>
      <equityAccount name="Eigen vermogen" />
    </equityAccounts>
    <expenseAccounts>
      <expenseAccount name="Accountants- en administratiekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Advertenties" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Autokosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Automatiseringskosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Bankkosten" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Beurskosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Brandstof" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Contributies en abonnementen" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Eten &amp; Drinken (op kantoor)" defaultVatRate="Laag 9% (te vorderen)" percentageDeductible="80" />
      <expenseAccount name="Gas, water en licht" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Huur bedrijfspand" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Kantoorbenodigdheden" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Kilometervergoeding (€ 0,19 km)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Motorrijtuigenbelasting" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Niet aftrekbare kosten (boetes)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Reclamekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Reis- en verblijfkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Relatiegeschenken" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Rentekosten (betaalde debetrente)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Sponsorkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Studiekosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Telefoon, fax en internet" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Vakliteratuur" defaultVatRate="Laag 9% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Verzekeringen" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="100" />
      <expenseAccount name="Verzendkosten" defaultVatRate="Hoog 21% (te vorderen)" percentageDeductible="100" />
      <expenseAccount name="Zakenlunch of -diner (in horeca)" defaultVatRate="Geen / Vrijgesteld" percentageDeductible="80" />
    </expenseAccounts>
    <incomeAccounts>
      <incomeAccount name="Omzet" defaultVatRate="Hoog 21% (af te dragen)" />
      <incomeAccount name="Rentebaten (ontvangen creditrente)" defaultVatRate="Hoog 21% (af te dragen)" />
    </incomeAccounts>
    <inputVatAccounts>
      <inputVatAccount name="BTW Voorbelasting" />
      <inputVatAccount name="BTW KOR" />
    </inputVatAccounts>
    <outputVatAccounts>
      <outputVatAccount name="BTW Installatie/afstandsverkopen binnen de EU" />
      <outputVatAccount name="BTW Leveringen naar landen buiten de EU (uitvoer)" />
      <outputVatAccount name="BTW Leveringen naar/diensten in landen binnen de EU" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 0% of niet bij u belast" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 21%" />
      <outputVatAccount name="BTW Leveringen/diensten belast met 9%" />
      <outputVatAccount name="BTW Leveringen/diensten belast met overige tarieven behalve 0%" />
      <outputVatAccount name="BTW Leveringen/diensten uit landen binnen de EU" />
      <outputVatAccount name="BTW Leveringen/diensten uit landen buiten de EU" />
      <outputVatAccount name="BTW Leveringen/diensten waarbij de heffing van omzetbelasting naar u is verlegd" />
      <outputVatAccount name="BTW Privé-gebruik" />
    </outputVatAccounts>
    <privateAccounts>
      <privateAccount name="Privé" />
    </privateAccounts>
    <roundingDifferencesAccounts>
      <roundingDifferencesAccount name="Afrondingsverschillen" />
    </roundingDifferencesAccounts>
    <supplierAccounts>
      <supplierAccount name="Leveranciers" />
    </supplierAccounts>
    <vatPaymentAccounts>
      <vatPaymentAccount name="BTW Afdrachten" />
    </vatPaymentAccounts>
    <vatToPayAccounts>
      <vatToPayAccount name="BTW Te betalen" />
    </vatToPayAccounts>
  </accounts>
  <paymentTerms>
    <paymentTerm name="Geen" term="0" />
    <paymentTerm name="7 dagen" term="7" />
    <paymentTerm name="14 dagen" term="14" />
    <paymentTerm name="30 dagen" term="30" />
  </paymentTerms>
  <vatRates>
    <vatRate name="Geen / Vrijgesteld" payableCategory="None" rate="0" receivableCategory="None" />
    <vatRate name="Privé-gebruik" payableAccount="BTW Privé-gebruik" payableCategory="PrivateUse" rate="0" receivableCategory="None" />
    <vatRate name="Hoog 21% (af te dragen)" payableAccount="BTW Leveringen/diensten belast met 21%" payableCategory="DeliveriesOrServicesTaxedAtHighRate" rate="21" receivableCategory="None" />
    <vatRate name="Hoog 21% (te vorderen)" payableCategory="None" rate="21" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Laag 9% (af te dragen)" payableAccount="BTW Leveringen/diensten belast met 9%" payableCategory="DeliveriesOrServicesTaxedAtLowRate" rate="9" receivableCategory="None" />
    <vatRate name="Laag 9% (te vorderen)" payableCategory="None" rate="9" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Leveringen naar of diensten in landen binnen de EU" payableAccount="BTW Leveringen naar/diensten in landen binnen de EU" payableCategory="DeliveriesOrServicesToCountriesWithinTheEuropeanUnion" rate="0" receivableCategory="None" />
    <vatRate name="Verwerving binnen de EU (21%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" payableCategory="DeliveriesOrServicesFromCountriesWithinTheEuropeanUnion" rate="21" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Verwerving binnen de EU (9%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" payableCategory="DeliveriesOrServicesFromCountriesWithinTheEuropeanUnion" rate="9" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Verwerving binnen de EU (0%)" payableAccount="BTW Leveringen/diensten uit landen binnen de EU" payableCategory="DeliveriesOrServicesFromCountriesWithinTheEuropeanUnion" rate="0" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Levering naar landen buiten de EU (uitvoer)" payableAccount="BTW Leveringen naar landen buiten de EU (uitvoer)" payableCategory="DeliveriesToCountriesOutsideTheEuropeanUnion" rate="0" receivableCategory="None" />
    <vatRate name="Verwerving buiten de EU (21%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" payableCategory="DeliveriesOrServicesFromCountriesOutsideTheEuropeanUnion" rate="21" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Verwerving buiten de EU (9%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" payableCategory="DeliveriesOrServicesFromCountriesOutsideTheEuropeanUnion" rate="9" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="Verwerving buiten de EU (0%)" payableAccount="BTW Leveringen/diensten uit landen buiten de EU" payableCategory="DeliveriesOrServicesFromCountriesOutsideTheEuropeanUnion" rate="0" receivableAccount="BTW Voorbelasting" receivableCategory="InputVat" />
    <vatRate name="BTW KOR" payableCategory="None" rate="0" receivableAccount="BTW KOR" receivableCategory="SmallBusinessScheme" />
  </vatRates>
</configuration>