<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="ModelCacheLocation" value="ApplicationFolder" />
    <add key="TraceLogLocation" value="ApplicationFolder" />
    <add key="UserModelDiffsLocation" value="ApplicationFolder" />
    <add key="Languages" value="nl" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|Accounting.db;DateTimeKind=Utc" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="2" />
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>